*{
    font-family: "Nunito";
    background-color: bisque;
}

.heading{
    text-align: center;
}

.heading h1{
    font-size: 50pt;
    color: #79443B;
    text-shadow: 3px 3px #D2691E;
}

.heading h2{
    font-size: 30pt;
    font-style: italic;
    color: #D2691E;
}

.hairstylesdiv{
    display: flex;
    justify-content: space-between;
}

.hairstyles{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hairstyles #timeslots{
    font-size: 20pt;
}

.hairstylesdiv img{
    width: 100%;
    height: 400px;
}

.hairstylesdiv h2{
    text-shadow: 2px 2px #D2691E;
}

button{
    font-size: 20pt;
    background-color: #79443B;
    color: white;
    border-radius: 10%;
}

.hairstylesdiv p{
    font-size: 20pt;
    color: #af1e04;
}

.hairstylesdiv span{
    font-size: 30pt;
}

.hairstyle div{
    font-size: 15pt;
}

.timeslots button{
    font-size: 15pt;
}

hr{
    box-shadow: 10px 10px #79443B;
    height: 5px;
}

.commentsdiv{
    text-align: center;
}

.commentsdiv input{
    font-size: 20pt;
    background-color: #79443B;
    color: white;
}

#comment{
    width: 1000px;
    background-color: white;
}

footer{
    text-align: center;
    display: flex;
    justify-content: center;
}

footer h2{
    color: #79443B;
    font-size: 20pt;
}

footer h3{
    font-size: 18pt;
}

#location{
    width: 50%;
}

#contact{
    width: 50%;
}