*{
    font-family: "Nunito";
    background-color: bisque;
}

.heading{
    text-align: center;
}

.heading h1{
    font-size: 50pt;
}

.heading h2{
    font-size: 30pt;
    font-style: italic;
}

.hairstylesdiv{
    display: flex;
    justify-content: space-between;
}

.hairstyle{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hairstylesdiv img{
    width: 100%;
    height: 400px;
}

button{
    font-size: 20pt;
    background-color: #79443B;
    color: white;
    border-radius: 10%;
}

.hairstylesdiv p{
    font-size: 20pt;
}

.hairstylesdiv span{
    font-size: 30pt;
}